.signup-btn {
    height: 46px;
    width: 129px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: rgb(104, 160, 249);
}
.signup-btn:hover {
    border: 1px solid rgb(104, 160, 249);

}
