.signup-btn {
    height: 46px;
    width: 129px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(104, 160, 249);
    cursor: pointer;
}
.signup-btn:hover {
    background-color: rgb(104, 160, 249);
}
.btn:active {
    background-color: rgb(47, 75, 120);
    color: white;
}
.signup-link:active {
    color: white;
}
.signup-link {
    padding: 12px;
}