.suggestionTitle {
    
    font-size: 30px;
    margin-top: 50px;
    font-weight: bolder;
}
.suggestionSubContainer{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suggestionHotelCard {
    
    width: 1100px;
    margin: 50px 0 0 0;
    display: flex;
    padding: 20px;
}
.suggestionHotelCardInside {
    display: flex;
  
    
}
.suggestionHotelImg {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}
.suggestHotelCardInfo {
    border: 1px solid rgb(207, 207, 207);
    padding: 20px;
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
}
.suggestHotelCardName {
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
}
.suggestHotelCardDetail {
    display: flex;
}
.suggestHotelCardAddress {
    color: rgb(62, 162, 196);
    padding: 0 10px;
}
.suggestHotelCardIntro {
    color:grey;
    height: 180px;
    overflow: auto;
    text-align: left;
}
.suggestHotelCardRatingCon {
    border: 1px solid rgb(207, 207, 207);
    padding: 20px;
}
.suggestHotelCardRating {
    color: blue;
    font-weight: bolder;
}
.suggestHotelCardPrice {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 120px 0 0 0;
}
.suggestPriceTitle {
    font-weight: lighter;
    margin-bottom: 5px;
}
.suggestPrice {
    display:flex;
    justify-content: space-around;
}
.checkRooms {
    color: white;
    background-color: #5E96AE;
    border: 1px solid #276681;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 0 0;
    cursor: pointer;
}
.checkRooms:hover {
    background-color: #17739b;
}