html {
    scroll-behavior: smooth;
}
.App {
    text-align: center;
    font-family: mallory,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}
.topBtn {
    display: flex;
    position: fixed;
    bottom:20px ;
    right: 20px;
    cursor: pointer;
    background-color: rgb(78, 167, 162); 
    border:none;
    padding: 15px 15px;
    border-radius: 50%;
    color:aliceblue;
}
.topBtn:hover{
    background-color: rgb(0, 212, 202); 
}