.detailHotelContainer {
   display : flex;
   justify-content: center;
   margin-top: 20px;
   border: none;
}
.detailSubContainer {
    margin : auto;
}
.detailFirstContainer {
    margin : 20px 0;
}
.mainImg {
    width : 700px ;
    height: auto;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(128, 128, 128, 0.521);
}
#imgCon{
 
    width:1200px;
}
.subImg {
    width : 300px;
    height : 200px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px rgba(128, 128, 128, 0.521);
}
#tienich{
    color : rgb(39, 177, 223);
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 0;
    padding-top: 20px;
}
.convenientListContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#convenientIcon {
    display: flex;
    flex-direction: column;
    margin: 0 20px ;
    align-items: center;
}
#convenientIconImg{
    width: 40px;
}
.detailInfoContainer {
    display: flex;
    margin : 10px 0;
}
.detailName {
    font-size: 30px;
    font-weight: bolder;
}
.detailStar {
    font-size: 30px;
    margin-left: 15px;
}
.detailAddress {
    color : rgb(39, 177, 223);
    text-align: left;
}
.detailSum {
    color:grey;
    text-align: left;
    width :800px ;
}
.convenientContainer {
    margin: 10px 0;
}
.detailRoomTitle {
    color : rgb(39, 177, 223);
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    margin: 20px 0;
    padding-top: 10px;
}
.detailRoomCard {
    display : flex ;
    margin: 20px 0;
}
.detailRoomImg {
    width : 700px;
    height : 400px;
    border-radius: 15px;  
}
.khungNoidung{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.detailRoomName {
    font-weight: bolder;
    font-size: 20px;
    margin: 20px;
    color: rgba(35, 190, 190, 0.808);
}
#detailRoom, #noidung{
    
    margin: 20px;
    display:flex;
    flex-direction: column;
    text-align: left;
    color:grey;
    
}
#roomPrice {
    color:rgba(209, 0, 0, 0.795);
    font-size: 20px;
    font-weight: bolder;
}
#bookingBtn {
    padding:10px 35px;
    border:none;
    border-radius: 15px;
    cursor:pointer;
    background-color: rgba(35, 190, 190, 0.808);
    color:white;
    font-weight: bolder;
}
#bookingBtn:hover {
    background-color: rgb(0, 219, 219);
}
.cmtBox {
    margin : 30px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cmtTitle {
    color : grey;
    font-size: 25px;
}
.formCmtLayout {
    display:flex;
}
.formCmt{
    margin:20px;
    background-color :rgba(127, 207, 207, 0.808);
    width:600px;
    height:310px;
    border-radius: 20px;
    color:White;
    float:left;
}
#danhgiaTitle {
    padding:20px;
    font-weight: bolder;
    font-size : 20px;
}
.cmtDetail{
    text-align: left;
    
    display:flex;
    flex-direction: column;
    margin:10px ;
    margin-left: 50px;
}
#inputText {
    border:none;
    padding:10px;
    background-color: rgba(0, 0, 255, 0);
    border-bottom: 1px solid white;
    width:70%;
    color:rgb(255, 255, 255);
}
#cmtBtn {
    padding:10px 15px;
    background-color: white;
    color:rgba(127, 207, 207, 0.808);
    border : 1px solid rgba(127, 207, 207, 0.808);
    border-radius: 10px;
}
.otherCmt {
    border : 1px solid rgba(127, 207, 207, 0.808);
    border-radius: 20px;
    width:700px;
    margin-top: 20px;
}
#danhgiaTitle2 {
    padding:20px;
    font-weight: bolder;
    font-size : 20px;
}
.otherCmtBox{
    border:1px solid rgba(127, 207, 207, 0.808);
    display:flex;
    border-radius: 20px;
    margin: 0 20px;
}
#avaCmt {
   width:80px;
   height:80px;
}
.userCmtInfo {
    color :grey;
    text-align: left;
    align-items: center;
}
.otherCmtDetail {
    margin:10px 0;
}