.native-cont {
    height: 60px;
    width: 500px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    padding-left: 15px;
}

ul {
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}
#headerHome , #headerDiscount {
    font-weight :bolder;
    display: inline-block;
    color: rgb(0, 212, 202);
    padding: 10px 15px;
    
}
#headerHome:hover , #headerDiscount:hover {
  
    transition:0.4s;  
}
#headerHome:after , #headerDiscount:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    position: relative;
    top: 11px;
}
#headerHome:hover:after , #headerDiscount:hover:after {
    width: 100%;
    background: rgb(0, 212, 202);
}

.active-item {
    border:1px solid rgb(0, 212, 202);
    padding: 10px 15px;
    border-radius: 30px;
} 

