.pay {
    display:flex;
    justify-content: center;
}
.payContainer {
    border: 1px solid grey;
    width: 800px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    margin-bottom: 50px;
}
.payTitle {
    font-size: 30px;
    font-weight: bolder;
    
}
.payDetailContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
   
    margin: 15px;
    margin-left: 100px;
    text-align: left;

}

.payBtn {
    width : 200px;
    height:40px;
}