.login-btn {
    height: 46px;
    width: 68px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
    border: none;
    color: rgb(104, 160, 249);
    cursor: pointer;
}

.login-btn:hover {
    background-color: rgb(104, 160, 249);
    color: white;
}

.btn:active {
    background-color: rgb(47, 75, 120);
}