.helpContainer {
    background-color: lightgrey;
    display:flex;
    justify-content: space-around;
    padding: 50px 0px;
}
.helpDetail {
    margin: 50px;
}
.helpLabel {
    font-weight: bolder;
    font-size: larger;
}
.helpInfo {
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.helpTitle {
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.helpTitle:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #020202;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.helpTitle:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}